<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <title>VUE FIRST</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app" class="app">
      <h1>Order calculation</h1>

      <form v-on:submit="addOrder">
        <input type="text" v-model="title" placeholder="Name" />
        <input type="number" v-model="price" placeholder="Price" />
        <input type="number" v-model="amount" placeholder="Amount" />

        <button class="app_add-button">Add</button>
      </form>

        <transition-group name="list" tag="ol">
          <li v-for="product in sortOrders" :key="product.id">
            {{ product.title }},
            <strong>Price: </strong> {{ product.price }},
            <strong>Amount: </strong> {{ product.amount }},
            <button @click="deleteOrder(product.id)" class="list_delete-button">Delete</button>
          </li>
        </transition-group>

      <div v-if="totalPrice > 0" class="totalPrice">
        Purchase cost: <strong>{{ totalPrice }}</strong>
      </div>
    </div>

    <script src="./js/main.js"></script>
  </body>
</html>
